<h2>Most Energizing Workouts</h2>
<div class="workout-menu">
  <a *ngFor="let Workouts of workout"
    routerLink="/detail/{{Workouts.id}}">
    {{Workouts.wo_name}}
  </a>
</div>

<h2>Top Challenges</h2>
<div class="workout-menu">
  <a *ngFor="let ChallengesList of challenges"
    routerLink="/detailchallenge/{{ChallengesList.id}}">
    {{ChallengesList.ch_name}}
  </a>
</div>

<h2>Try These Recipes</h2>
<div class="workout-menu">
  <a *ngFor="let NutritionList of nutrition"
    routerLink="/detailnutrition/{{NutritionList.id}}">
    {{NutritionList.nu_name}}
  </a>
</div>