p { 
    background-color: rgb(112, 119, 119);
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: left;
    color: #fff;
  }

h2 {
  text-align: center;
}

button {
    color: rgb(0, 0, 86);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 10px;

}

button:hover {
    background-color: rgb(58, 61, 99);
}
  
img {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 400px;
}
